{% include "header.html" %}
<h1>Accueil</h1>
<h2>{{ title }}</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Slogan</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>    
        <tr>
            <td>{{ model.id }}</td>
            <td>{{ model.lastname }}</td>
            <td>{{ model.firstname }}</td>
            <td>{{ model.slogan }}</td>
            <td></td>
        </tr>
    </tbody>
    
</table>
{% include "footer.html" %}